body{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: gray;
    width: 96vw;
    height: 96vh;
    margin: 0px;
    padding: 2vh 2vw;
    overflow-x: hidden;
}

.container{
    /* border: 1px solid black; */
    background-color: lightgray;
    
}

.centre-children{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#selection-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    height: auto;
    justify-content:space-around;
}

.strat-container{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;
}

.strat-img{
    margin: 4px;
    width: 80px;
    height: 80px;
}

.enabled{
    filter: none
}

.disabled{
    filter: sepia(0%) hue-rotate(0deg) brightness(75%) saturate(10%);
}

.highlighted{
    border: 8px rgb(255, 255, 0) solid;
    width: 64px;
    height: 64px;
}


#random-container{
    display: flex;
    padding: 10px;
    width: max-content;
    max-width: 60vw;
    flex-flow: wrap;
}

#random-container button{
    margin: 10px;
    height: 2.5em;
}

#random-container input[type="number"]{
    margin: 5px;
    height: 2.5em;
    width: 6em;
}

#random-container input[type='checkbox']{
    padding: 10px;
    margin-left: 2em;
    height: 2.5em;
    width: 3em;
}